/Digit Recognizer/DigitRecognizer.Core/bin
/Digit Recognizer/DigitRecognizer.Core/obj
/Digit Recognizer/DigitRecognizer/.vs
/Digit Recognizer/DigitRecognizer/bin
/Digit Recognizer/DigitRecognizer/obj
/Digit Recognizer/DigitRecognizer.Visualize/obj
/Digit Recognizer/DigitRecognizer.Visualize/bin
/Digit Recognizer/DigitRecognizer.Tests/obj
/Digit Recognizer/DigitRecognizer.Tests/bin
